// Color
// -----------

// Type
// -----------

// Family
$ff--base: Helvetica, Arial, sans-serif;

// Line height
$lh--base: 1.4;

// Font sizes
$fz--base: 16px;
$fz--lg: 1.4rem;

// Font weight
$fw--bold: 700;

// Spacing
// -----------

$spacing: 2rem;
